@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: 'logo-font';
  src: url(../public/font/KOMIKAGL.ttf);
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #faf9f8;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-top: 40px;
}

.nav-header .nav-icon {
  margin-right: 20px;
}
.nav-icon span {
  margin-left: 10px;
}
.menu {
  display: flex;
  list-style-type: none;
  padding: 20px;
}
.menu li a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.nav-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.nav-menu-area {
  display: flex;
  justify-content: center;
}
.burger-menu {
  margin-left: 20px;
}
.burger-menu:hover {
  cursor: pointer;
}

.landing-search-box {
  right: 20px;
  position: absolute;
}
.sidebar {
  max-width: 500px;
}

.search-box {
  border-bottom: 1px solid black;
  /* position: absolute; */
  padding: 5px;
}
.search-box input {
  border: none;
  margin-left: 5px;
  background-color: #faf9f8;
}
.search-box input:focus {
  outline: none;
}
.mobile-search-box {
  position: relative;
  top: 10px;
  left: 10px;
}
.search {
  align-items: center;
}
.search-icon {
  margin-left: 10px;
}
.search input {
  border: none;
  background-color: #faf9f8;
  padding-left: 20px;
}
.search input:focus {
  outline: none;
}
.mobile-search-box .closebtn {
  font-size: 36px;
  border: none;
  background: none;
  padding-right: 30px;
}

.card {
  border: none !important;
  margin-bottom: 10px;
}

.choice {
  font-size: 11px;
  color: #63786a;
  font-weight: bold;
  height: 20px;
}

.new-product {
  font-size: 11px;
  height: 20px;
}

.error-message {
  text-align: left;
  width: 100%;
}
.form-control:valid {
  background-color: white !important;
}

.drop-down {
  margin-top: 20px;
}

.add-button {
  margin: 20px auto 60px auto;
  width: 100%;
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.hide {
  visibility: hidden;
}

.side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 25px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-menu-list button {
  margin-bottom: 25px;
  height: 40px;
  /* padding-bottom: 5px; */
}
.side-menu-list button:hover {
  background-color: rgb(94, 94, 95);
  border-radius: 3px;
  width: 80%;
  color: whitesmoke;
  /* padding-bottom: 3px; */
  /* border-bottom: 2px solid gray; */
}

#sidebar-wrapper {
  min-height: 100vh !important;
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  /* width: 100vw; */
  /* margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out; */
}
.sidebar-item {
  color: black;
  font-weight: bold;
  padding: 20px 10px;
  list-style-type: none;
}
.sidebar-item:hover {
  color: white;
  background-color: rgb(97, 101, 105);
  border-radius: 4px;
  font-weight: bold;
}
.sidebar-area {
  padding-left: 0;
}
.sidebar {
  max-width: 300px;
  padding: 20px;
  background-color: rgb(248, 249, 250);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-left: 40px;
}
.mobile-sidebar-toggle {
  display: none;
}

.display-flex {
  display: flex;
  align-items: center;
}

.admin-layout {
  display: flex;
}

.landing-search-box input {
  background-color: #faf9f8;
}

.link-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

/* =========================== */
.admin-link {
  display: flex;
  margin-top: 20px;
  justify-content: right;
  margin-right: 20px;
}

.no-result-message,
.search-results-message {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: gray;
  margin: 15px auto;
}

.loading-message {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #46433e;
}

.center-spinner {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.dropdown-toggle-custom::after {
  float: right;
  position: relative;
  top: 7px;
}

/* 페이지네이션 */

.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-item {
  margin: 0 0.25rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #66696d;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  color: #2d2e30;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #686b6e;
  border-color: #78797a;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}

/* 랜딩페이지 상품카드 */
.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card img {
  width: 100%;
  height: 330px;
  border-radius: 5px;
}

.product-name,
.product-price {
  margin-bottom: 5px;
}

.card.sold-out img {
  filter: brightness(50%);
}

.sold-out-badge {
  position: absolute;
  top: 10px;
  left: -2px;
  background-color: rgb(231, 112, 112);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  z-index: 1;
}

/* 내 주문 내역 페이지 */

.total-price {
  color: gray;
  font-size: 15px;
}

/* 카트 페이지 */
.stock-message {
  font-weight: bold;
  color: rgb(223, 110, 110);
}

/* logo */

.logo-title {
  font-family: 'logo-font';
  color: black;
  font-size: 65px;
  letter-spacing: 15px;
}
.nav-logo a {
  text-decoration: none;
}

.side-bar-logo {
  font-family: 'logo-font';
  font-size: 45px;
  color: black;
  letter-spacing: 5px;
  margin-right: 12px;
}

/* notice*/

.notice-page-area {
  text-align: center;
}

/* slide */
/* .carousel-image {
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  transition: 3s ease-in-out;
} */

.carousel-container {
  max-height: 500px;
  border-radius: 10px;
  border: 4px solid white;
}

.carousel-item-padding-40-px img {
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  /* border: 4px solid white; */
}

/* login */
.custom-btn {
  border-radius: 5px;
  color: rgb(241, 241, 241);
  /* border: 2px solid rgb(255, 255, 255); */
  border: none;
  background-color: #2d2e30;
  padding: 6px 12px;
}
.custom-btn:hover {
  background-color: #585858;
}

.social-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kakao_btn {
  background: none;
  border: none;
}
.kakao_btn_img {
  object-fit: cover;
  width: 200px;
  height: 38px;
  border-radius: 4px;
  margin-top: 10px;
}

/* cart */

.product-card-cart {
  border: 1px solid rgb(66, 66, 66);
  border-radius: 10px;
}

/* detail page */

.product-info {
  display: flex;
  flex-direction: column;
}
.original-price {
  text-decoration: line-through;
  color: rgba(128, 161, 221, 0.8);
}

/* ================= 
todo 모바일일때 랜딩페이지 카드 다 무너지고 있슈

*/

/* footer */
.footer-area {
  left: 0;
  width: 100%;
  bottom: 0;
  height: 80px;
  text-align: center;
  margin-top: 55px;
  font-size: 40px;
  font-family: 'logo-font';
}

/* 스크롤업 버튼 */
.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  color: #6e7883;
  cursor: pointer;
  outline: none;
  z-index: 1000;
  background: none;
  font-size: 35px;
  opacity: 0.8;
  font-family: 'logo-font';
}

.scroll-top-button:hover {
  color: rgb(75, 74, 74);
}
/* 
.scroll-top-button:active {
  color: #6e7379;
} */
/* .menu-color:hover {
  color: blue !important;
} */

@media screen and (max-width: 950px) {
}
@media screen and (max-width: 63rem) {
  .hide {
    visibility: visible;
  }
  .menu {
    display: none;
  }

  .nav-icon:last-child {
    margin-right: 0px;
  }
  .nav-header {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .sidebar-toggle {
    display: none;
  }
  .mobile-sidebar-toggle {
    display: block;
  }
  .sidebar {
    max-width: 100%;
    padding: 0px;
    /* margin-bottom: 0; */
  }
  .mobile-sidebar {
    max-height: 104px;
  }
  .side-bar-logo {
    font-size: 30px;
    margin-right: 0;
    margin-left: 20px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .order-info {
    padding-left: 25px;
  }
  /* .carousel-image {
    height: 400px;
    object-fit: cover;
  } */

  .card:hover {
    transform: none;
  }

  .carousel-item-padding-40-px img {
    height: 400px;
    object-fit: cover;
  }
  .scroll-top-button {
    font-size: 30px;
  }
  .mobile-search-box .closebtn {
    font-size: 20px;
    padding-top: 10px;
    position: relative;
    bottom: 4px;
  }
}

@media screen and (max-width: 400px) {
  .carousel-item-padding-40-px img {
    height: 300px;
  }
}

/* 주문집계 */

.orders-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 50px auto; */
  height: 60vh;
}

.bar-container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 150px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.bar {
  width: 100px;
  background-color: #7baadd;
  transition: height 0.5s ease-in-out;
}

.bar-label {
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
}

.bar-value {
  position: absolute;
  top: -30px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.order-check-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 35px;
  color: gray;
  font-family: 'logo-font';
}
